<!DOCTYPE html>
<html>
<head>
    <title>Admission Report</title>
</head>
<body>
    <h2>Admission Report</h2>

    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>Student Name</th>
            <th>Date of Birth</th>
            <th>Course</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr>
            <td>Harish Pochina</td>
            <td>2002-05-14</td>
            <td>B.Sc</td>
            <td>harishp.goud226@gmail.com</td>
            <td>8008235804</td>
        </tr>
        <tr>
            <td>Kiranmai Pochina</td>
            <td>2001-11-22</td>
            <td>B.Com</td>
            <td>kiran@gmail.com</td>
            <td>989939399</td>
        </tr>
    </table>
</body>
</html>





